html {
  background-color: #000;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;
  position: relative;
  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  width: 28px;
  position: absolute;
  top: 140px;
  left: 46%;
}

.hand {
  width: 14px;
  position: absolute;
  transform-origin: bottom;
}

@keyframes hour {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}

.hand-hour {
  position: absolute;
  top: 32%;
  left: 140px;
  animation: hour 6s infinite linear;
}

.hand-minute {
  position: absolute;
  top: 23%;
  left: 140px;
  animation: spin 1s infinite linear;

}

@keyframes spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}
